@import "tailwindcss";

@theme {
  --color-background: #030711;

  --color-foreground: #f9fbfc;
  --color-background-foreground: #f1f5f9;

  --card: #12151c;                
  --card-foreground: #f9fbfc; 

  --color-popover: #030711;              
  --color-popover-foreground: #f9fbfc;

  --color-primary: #409cff; 
  --color-primary-foreground: #030711;   

  --color-secondary: #36c48e;      
  --color-secondary-foreground: #f9fbfc;

  --color-muted: #1e222c;   
  --color-muted-foreground: #7d8696;

  --color-accent: #f6e7a1;  
  --color-accent-foreground: #f9fbfc; 

  --color-destructive: #e04f4f;          
  --color-destructive-foreground: #ffffff;

  --color-border: #d4d7de;  
  --color-input: #323846;
}

:root {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #030711B2;
  background-color: #F9FAFB;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  @apply no-underline hover:no-underline;
}

