@import "tailwindcss";

@theme {
  --color-background: #0c0a09;
  --color-background-foreground: #F9FAFB;
  --color-primary: #38bdf8;
  --color-primary-foreground: #0c0a09;
  --color-secondary: #34d399;
  --color-secondary-foreground: #f1f5f9;
  --color-muted: #334155;
  --color-muted-foreground: #64748b;
  --color-accent: #fef08a;
  --color-accent-foreground: #f1f5f9;
  --color-destructive: #ef4444;
  --color-destructive-foreground: #ffffff;
  --color-foreground: #0c0a09;

  --color-border: #d4d7de;
}

:root {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #030711B2;
  background-color: #F9FAFB;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  @apply no-underline hover:no-underline;
}

